# Super Bowl
Concatinating all the data from the 3 scrapers. The dataframes were saved to csvs.

### Site scrapers data

In [1]:
import pandas as pd
import numpy as np

In [3]:
#from scrapping
mega_1 = pd.read_csv('mega1.csv')
mega_2 = pd.read_csv('mega2.csv')
mega_abs = pd.concat([mega_1, mega_2])
mega_abs = mega_abs.drop_duplicates(subset = ['handles'])
mega_abs.shape

(330, 2)

### Tweeps scraper data

In [38]:
# from twitter. Pick out the guys with popularity > 30k.
_1 =  pd.read_csv('starting users.csv')
_2 =  pd.read_csv('df_2 users.csv')
_3 =  pd.read_csv('df_3 users.csv')
_4 =  pd.read_csv('df_4 users.csv')
_5 =  pd.read_csv('df_5 users.csv')
_6 =  pd.read_csv('df_6 users.csv')
_7 =  pd.read_csv('df_7 users.csv')
_8 =  pd.read_csv('df_8 users.csv')
_9 =  pd.read_csv('df_9 users.csv')
_0 =  pd.read_csv('df_0 users.csv') 
_01 = pd.read_csv('df_01 users.csv') 
_02 = pd.read_csv('df_02 users.csv') 
_03 = pd.read_csv('df_03 users.csv') 
_04 = pd.read_csv('df_04 users.csv') 
_05 = pd.read_csv('df_05 users.csv') 
                  
mega_df = pd.concat([_0, _1, _2, _3, _4, _5, _6, _7, _8, _9, _01, _02, _03, _04, _05])
mega_df['popularity'] = mega_df['followers'] - mega_df['friends']
mega_df = mega_df[mega_df.popularity >= 10000]
mega_df= mega_df.drop_duplicates(subset = ['screen_name'])
mega_df.shape

(803, 7)

### SuperBowl

In [39]:
names = pd.DataFrame(columns = ['handles'])
names['handles'] = mega_df['screen_name']
handles = pd.DataFrame(columns = ['handles'])
handles['handles'] = mega_abs['handles']

no_tags = names['handles'].to_list()
def prepend(list, str): 
    str += '{0}'
    list = [str.format(i) for i in list] 
    return(list) 
tags = prepend(no_tags, '@')
names['handles'] = tags
names.head()


super_bowl = pd.concat([names, handles])
super_bowl = super_bowl.drop_duplicates(subset = 'handles')
super_bowl.shape

(1066, 1)

In [40]:
super_bowl.to_csv('superbowl.csv')
super_bowl.head()

          handles
1       @nanga_tp
2      @KenInvest
12    @chriskirwa
14  @Thee_mavERIC
33     @KTNNewsKE

[Back to top](#Super-Bowl)